#menuIcon{
    display: block;
}

#menuPc{
    display: none;
}

#menuMobile{
    display: flex;
    width: 100%;
    padding: 20px;
    flex-direction: column;
    background-color: #686b68;
    transition: 0.5s;
}

#menuMobile ul{
    width: 90%;
    flex-direction: column;
    align-items: center;
}

#menuMobile li{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#menuMobile li:hover{
    background-color: rgb(80, 77, 77);
    transition: 0.5s;

}

input{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    transition: 1s;
}

input:hover{
    width: 250px;
    height: 35px;
    background-color: rgb(179, 174, 174);
    transition: 0.3s;
}

button{
    width: 150px;
    height: 30px;
    background-color: rgb(167, 161, 161);
    margin: 10px auto;
    border-radius: 5px;
}

button:hover{
    width: 200px;
    height: 35px;
    background-color: gray;
    font-weight: bold;
    transition: 0.5s;
}