*{
    margin: 0%;
    padding: 0%;
}

#pagina{
    width: 100%;
    height: 100vh;
    background-color: rgb(161, 218, 221);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

main{
    width: 70%;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    box-shadow: gray 6px 6px;
    display: flex;
    overflow: hidden;
}

#banner, #formulario{
    width: 50%;
    height: 100%;
}

#banner{
    background-image: url(../images/bolo_banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2{
    color: darkslategrey;
    margin: 20px 0px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 16pt;
}

input{
    width: 350px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    transition: 1s;
}