:root{
    --cinzaClaro: rgb(168, 156, 148);
    --cinzaEscuro: rgb(77, 75, 75);
    --cinza: gray;
    --cinzaMaisClaro: rgb(187, 184, 183);
    --verdeEscuro: darkslategrey;
    --marfimClaro: rgb(179, 174, 174);
    --marfim: rgb(167, 161, 161);
    --marfimMedio: rgb(168, 156, 148);

}

header{
    background-color: var(--cinzaClaro);
}

.navbar img{
    width: auto;
    height: 150px;
    border-radius: 20px;
}

.navbar a{
    display: flex;
    align-items: center;
    font-size: 25pt;
}